.filters {
  margin-top: -25px;
}

.filters > h1 {
  font-weight: 500;
}

.search-bar-holder {
  position: relative;
  width: 500px;
  height: 50px;
}
.filter-holder {
  position: relative;
  width: 300px;
  height: 50px;
}

.location-holder {
  position: relative;
  width: 300px;
  height: 50px;
}

.search-bar-holder img {
  z-index: 100;
  position: absolute;
  left: 3.5%;
  top: 28%;
}

.filter-holder img {
  z-index: 100;
  position: absolute;
  left: 3.5%;
  top: 28%;
}

.location-holder img {
  z-index: 100;
  position: absolute;
  left: 3.5%;
  top: 28%;
}

.search-bar {
  width: 500px;
  height: 50px;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 45px;
  font-size: 15px;
  border-radius: 12px;
}

.location-bar {
  width: 300px;
  height: 50px;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 45px;
  font-size: 15px;
  border-radius: 12px;
}

.filter-bar {
  width: 300px;
  height: 50px;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 45px;
  font-size: 15px;
  border-radius: 12px;
}

.filterContainers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -10px;
}

.appliedFilters {
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.appliedFilter {
  background: #ffffff;
  box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 130px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-align: center;
  padding: 6px 7px;
}

.filter-holder input {
  outline: none;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.location-holder input {
  outline: none;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.search-bar-holder input {
  outline: none;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}
